[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camelcase = "*"
pillow = "*"
django = "*"
psycopg2-binary = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.13"
