[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camelcase = "*"
pytz = "*"
notebook = "*"
pillow = "*"
django = "*"
psycopg2-binary = "*"
jupyterlab = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
openpyxl = "*"
ipykernel = "*"

[dev-packages]
nose = "*"

[requires]
python_version = "3.13"
